1. Component Testing
Due to the nature of how our group shared the workload, it was easier to test individual components freely from one another. Each member of our group was assigned different components to work on. Once a group member finished a component, they would be able to test the component using their own local version of the codebase. If they broke the code or found specific bugs, they could fix the code without causing detrimental effects to other components of the game. Component testing was typically the responsibility of the group member that wrote the code for that particular component. It was conducted prior to committing that piece of code to the main code base. Once the group member decided the tests yielded acceptable results, the code for that component was committed to the main repo.
  
2. System Testing
Fortunately, PICO-8 makes testing incredibly fast and efficient. Since most of our coding is done within the console editor, testing is just a click away. Once each individual component was merged with the main code base, we began testing the game as a whole. PICO-8 won't typically let you catastrophically ruin your game without at least a few errors, so the testing was mostly for boundaries, collisions, and just overall looking for things that didn't make sense in the context of what we were trying to create. The testing involved playthroughs of the game, with each playthrough focusing on a different aspect of the gameplay. 

3. Acceptance Testing
Throughout the entire development process, we were reviewing user stories to determine if we were meeting user requirements. Below are the user stories and our determination of whether or not we met their specific requirements.

  User Story 1: This user wanted a 2D tile game that was fun and engaging. They wanted to engage in combat.
Our game includes combat and health stats. We have successfully satisfied these requirements.
  User Story 2: This user wanted the game to work as intended.
Our game is fully functioning and satisfies this requirement.
  User Story 3: This user wanted a successful playthrough of the game, interacting with other objects and enemies.
Our game satisfies this requirement.
  User Story 4: This user wanted positive feedback from users outside of TEAM SILVER SNAKES.
Our game has been played by multiple individuals outside the team and received excellent feedback. This requirement is satisfied.
  User Story 5: This user wanted the game to be accepted by players that could be considered "Non-Gamers".
Our game has been played by multiple individuals with little to no gaming experience. The controls and game flow are intuitive and easy to pick up. The players       enjoyed the game. This requirement is satisfied.
  User Story 6: This user wanted a game playable by players of all skill levels. After the extensive testing we did to meet User Story 4 and User Story 5 requirements, 
we determined this requirement has also been satisfied.
  User Story 7: This user wanted multiple enemies that can be defeated and a victory can be achieved.
With various enemies available to engage in combat, this requirement has been satisfied.
  User Story 8: This user wanted the game accessible to users who had never played a video game before.
Since the requirements are so similar to the requirements of User Story 5, we can determind this requirement has been satisfied.
  User Story 9: This user wanted the game to improve his abilities to compete at the highest level of eSports.
After this user played the game, they won their next gaming tournament. This is probably exclusively due to our game. This requirement is satisfied.
  User Story 10: This user wanted a game they could speed run and improve their speed running skills.
This user completed the game in 3 seconds and was very satisfied. This requirement has been satisfied.
